 {% extends "../inc/layout.html" %} 
 {% block head%} 
    {% include "../inc/head.html" %} 
 {% endblock %} 
 
 {% block content %}
<div class="M-top clearfix">
    {% include "../menu/menu_top.html" %}
</div>
<div class="M-stage">

  <div class="M-menu-left">
      {%  include "../menu/menu_left_guide.html"  %}
  </div>

  <div class="M-content">
    <div class="introduce">

      <div class="panel-con clearfix">
        <!-- -->
        <div class="child-panel">
          <div class="img-con">
            <i class="layui-icon">&#xe613;</i>
          </div>
          <h1>智能运维</h1>
          <h2>直观，便捷</h2>
          <div class="desc">
            最便捷的应用工作流，满足您的多端建站需求最便捷的应用工作流，满足您的多端建站需求
          </div>
          <a class="link">
            <p>查看详情</p>
          </a>
        </div>
        <!-- -->
        <div class="child-panel">
          <div class="img-con">
              <i class="layui-icon">&#xe631;</i>
          </div>
          <h1>深度定制</h1>
          <h2>只要需要的</h2>
          <div class="desc">
            最便捷的应用工作流，满足您的多端建站需求最便捷的应用工作流，满足您的多端建站需求
          </div>
          <a class="link">
            <p>查看详情</p>
          </a>
        </div>

        <!-- -->
        <div class="child-panel">
          <div class="img-con">
            <i class="layui-icon">&#xe857;</i>
          </div>
          <h1>一键生成APP</h1>
          <h2>多渠道推广</h2>
          <div class="desc">
            最便捷的应用工作流，满足您的多端建站需求最便捷的应用工作流，满足您的多端建站需求
          </div>
          <a class="link">
            <p>查看详情</p>
          </a>
        </div>


      </div>

    </div>

  </div>


</div>

<script src="{{STATIC_DOMAIN}}/js/libs/layui.all.js" charset="utf-8"></script>
<script>

  var jsPath = "{{STATIC_DOMAIN}}/js/admin/index/index.js";
  seajs.use(jsPath,function(LN){
     LN.init();
  });
  layui.use('element', function(){
    var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  });
</script>





{% endblock %}