{% extends "../inc/layout.html" %}

{% block head %}

    {% include "../inc/head.html" %}

{% endblock %}


{% block content %}
    <div class="M-content" >
        <div class="M-index-menu">
            <div class="menubar">
                <div class="logo">
                    ME APP
                </div>
                <div class="items">
                    <a>首页</a>
                    <a>服务</a>
                    <a>联系我们</a>
                </div>
            </div>

        </div>
        <div class="M-index-banner">
            <div class="con-img">
                <img src="http://static.appcloud.com/imgs/home/slider_img_01.jpg">
            </div>
        </div>

        <div class="M-index-panel panel-are">
            <h1>我们是谁</h1>
            <p>
                我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁
            </p>

            <div>
                
            </div>

        </div>

        

    </div>

{% endblock %}