{% extends "../inc/layout.html" %} 
{% block head%} 
   {% include "../inc/head.html" %} 
   <link href="{{STATIC_DOMAIN}}/css/admin/app_temp.css" rel="stylesheet">

   <script type="text/javascript">
        window.CFG = {
            app_domain:'{{ APP_DOMAIN }}',
            static_domain : '{{ STATIC_DOMAIN }}',
            api_domain:'{{ API_DOMAIN }}'
        }
   </script>

{% endblock %} 

{% block content %}
<div class="M-top clearfix">
   {% include "../menu/menu_top.html" %}
</div>
<div class="M-stage">

 <div class="M-menu-left">
 </div>

 <div class="M-content">
    <div class="app-panel clearfix">
        <!--panel preview -->
        <div class="child-panel app-pre">
            <div class="phone">

                {% include "./temp/temp1000.html" %}
                <!--
                {% include "./temp/temp1001.html" %}
                -->

            </div>
        </div>
        <!--panel edit app -->
        <div class="child-panel app-edit">
            <div class="tool-bar">
                <!-- tool select templete -->
                <div class="tool-item tool-temp layui-icon" tool-name="temp">
                    &#xe857;
                </div>
                <!--tool define app -->
                <div class="tool-item tool-define layui-icon" tool-name="define">
                    &#xe614;
                </div>
                <!--tool previewer templete -->
                <div class="tool-item tool-pre layui-icon" tool-name="pre">
                    &#xe63b;
                </div>
            </div>

            <div class="area-edit">
                <div class="area-title">
                    <fieldset><legend><a name="pane">编辑模板</a></legend></fieldset>
                </div>

                <div class="edit-panel">
                    <form class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" type="text">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" type="text">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">文本域</label>
                            <div class="layui-input-block">
                                  <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="formDemoPane">立即提交</button>
                         </div>


                    </form>


                </div>
                <!--

                <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                          <label class="layui-form-label">输入框</label>
                          <div class="layui-input-block">
                            <input name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" type="text">
                          </div>
                        </div>

                        <div class="layui-form-item">
                          <label class="layui-form-label">密码框</label>
                          <div class="layui-input-inline">
                            <input name="password" required="" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" type="password">
                          </div>
                          <div class="layui-form-mid layui-word-aux">辅助文字</div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">选择框</label>
                          <div class="layui-input-block">
                            <select name="city" lay-verify="required">
                              <option value=""></option>
                              <option value="0">北京</option>
                              <option value="1">上海</option>
                              <option value="2">广州</option>
                              <option value="3">深圳</option>
                              <option value="4">杭州</option>
                            </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input placeholder="请选择" value="" readonly="" class="layui-input layui-unselect" type="text"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="" class="layui-select-tips">请选择</dd><dd lay-value="0" class="">北京</dd><dd lay-value="1" class="">上海</dd><dd lay-value="2" class="">广州</dd><dd lay-value="3" class="">深圳</dd><dd lay-value="4" class="">杭州</dd></dl></div>
                          </div>
                        </div>
                        <div class="layui-form-item" pane="">
                          <label class="layui-form-label">开关</label>
                          <div class="layui-input-block">
                            <input name="switch" lay-skin="switch" type="checkbox"><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em></em><i></i></div>
                          </div>
                        </div>
                        <div class="layui-form-item" pane="">
                          <label class="layui-form-label">单选框</label>
                          <div class="layui-input-block">
                            <input name="sex" value="男" title="男" type="radio"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>男</span></div>
                            <input name="sex" value="女" title="女" checked="" type="radio"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>女</span></div>
                          </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                          <label class="layui-form-label">文本域</label>
                          <div class="layui-input-block">
                            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <button class="layui-btn" lay-submit="" lay-filter="formDemoPane">立即提交</button>
                        </div>
                      </form>
                    -->


            </div>

        </div>




    </div>


</div>



</div>

<script src="{{STATIC_DOMAIN}}/js/libs/layui.all.js" charset="utf-8"></script>
<script>
    layui.use('element', function(){
      var element = layui.element; 
    });

    var jsPath = "{{STATIC_DOMAIN}}/js/admin/app/layout.js";
    seajs.use(jsPath,function(AL){
      AL.init();

    });

</script>





{% endblock %}