{% extends "../inc/layout.html" %} 
{% block head%} 
   {% include "../inc/head.html" %} 
   <link href="{{STATIC_DOMAIN}}/css/admin/app_temp.css" rel="stylesheet">

   <script type="text/javascript">
        window.CFG = {
            app_domain:'{{ APP_DOMAIN }}',
            static_domain : '{{ STATIC_DOMAIN }}',
            api_domain:'{{ API_DOMAIN }}'
        }
   </script>

{% endblock %} 

{% block content %}
<div class="M-top clearfix">
   {% include "../menu/menu_top.html" %}
</div>
<div class="M-stage">

 <div class="M-menu-left">
 </div>

 <div class="M-content">
    <div class="app-panel clearfix">
        <!--panel preview -->
        <div class="child-panel app-pre">
            <div class="phone">

                {% include "./temp/temp1000.html" %}
                <!--
                {% include "./temp/temp1001.html" %}
                -->

            </div>
        </div>
        <!--panel edit app -->
        <div class="child-panel app-edit">
            <div class="tool-bar">
                <!-- tool select templete -->
                <div class="tool-item tool-temp layui-icon" tool-name="temp">
                    &#xe857;
                </div>
                <!--tool define app -->
                <div class="tool-item tool-define layui-icon" tool-name="define">
                    &#xe614;
                </div>
                <!--tool previewer templete -->
                <div class="tool-item tool-pre layui-icon" tool-name="pre">
                    &#xe63b;
                </div>
            </div>

            <div class="area-edit">
                <div class="area-title">
                    <fieldset><legend><a name="pane">编辑模板</a></legend></fieldset>
                </div>

                <div class="edit-panel">
                   <form class="layui-form layui-form-pane"> 
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input name="title" placeholder="请输入标题" autocomplete="off" class="layui-input" type="text">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input name="title"  placeholder="请输入标题" autocomplete="off" class="layui-input" type="text">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">文本域</label>
                            <div class="layui-input-block">
                                  <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </form>

                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="formDemoPane">修改</button>
                    </div>

                </div>


            </div>

        </div>




    </div>


</div>



</div>

<script src="{{STATIC_DOMAIN}}/js/libs/layui.all.js" charset="utf-8"></script>
<script>
    layui.use('element', function(){
      var element = layui.element; 
    });

    var jsPath = "{{STATIC_DOMAIN}}/js/admin/app/layout.js";
    seajs.use(jsPath,function(AL){
      AL.init();

    });

</script>





{% endblock %}